@media screen and (min-width:320px) and (max-width:768px) {
    
    .banner{

        &__column{
            text-align: center;
        }
        &__card{
            padding: 0 15px 30px ;
        }
        &__icon{
            margin: auto;
        }

    }
}